<html lang="en">
<head>
<title>{{ chat_title }}</title>
<style>
    th {
        background-color: #FDFD96;
    }
    table {
        border: 2px solid black;
        border-collapse: collapse;
    }
    td, th {
        border: 1px solid grey;
    }
    th.tag_in_config {
        font-weight: bold;
    }
    body {
        font-family: sans-serif;
    }
    #messages {
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        gap: 10px;
    }
    .message_container {
        padding: 10px;
        background: #cfc;
        border: 3px solid #8f8;
        border-radius: 6px;
    }
    .video_embed {
        width: 100%;
        align-content: center;
        margin: auto;
    }
    .tags_table {
        height: 100%;
        vertical-align: bottom;
    }
</style>
</head>
<body>
    <h1>{{ chat_title }}</h1>
    <b>Handle:</b> {{ handle }}<br />
    <b>Telegram link:</b> https://t.me/{{ handle }}<br />
    <b>Tag config:</b><br />
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>In config?</th>
            <th>Message count</th>
        </tr>
        {% for channel_tag in channel_tag_data.list_channel_tags() %}
            <tr>
                <td class="{{ "tag_in_config" if channel_tag.in_config else "" }}">{{ channel_tag.name }}</td>
                <td>{{ channel_tag.tag_type }}</td>
                <td>{{ "Y" if channel_tag.in_config else "N" }}</td>
                <td>{{ channel_tag.message_count }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Messages:</h2>
    <div id="messages">
        {% for message in message_list %}
        <div class="message_container">
            <div class="video_embed">
                <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="{{ handle }}/{{ message['msg_id'] }}" data-width="70%"></script>
            </div>
            <div class="tags_table">
                <table>
                    {% for tag_name, tag_values in channel_tag_data.table_dict_for_msg(message).items() %}
                        <tr>
                        <th class="{{ "tag_in_config" if tag_name in channel_tag_data.tag_names_in_config() else "" }}">{{ tag_name }}</th>
                        <td>{{ tag_values|join(", ") }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>