<html lang="en">
<head>
<title>{{ chat_title }}</title>
<style>
    th {
        background-color: #FDFD96;
    }
    table {
        border: 2px solid black;
        border-collapse: collapse;
        margin: 10px;
    }
    td {
        border: 1px solid grey;
    }
    td.tag_in_config {
        font-weight: bold;
    }
    body {
        font-family: sans-serif;
    }
</style>
</head>
<body>
    <h1>{{ chat_title }}}</h1>
    <b>Handle:</b> {{ handle }}<br />
    <b>Telegram link:</b> https://t.me/{{ handle }}<br />
    <b>Tag config:</b><br />
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>In config?</th>
            <th>Message count</th>
        </tr>
        {% for channel_tag in channel_tag_data.list_channel_tags() %}
            <tr>
                <td class="{{ "tag_in_config" if channel_tag.in_config else "" }}">{{ channel_tag.name }}</td>
                <td>{{ channel_tag.tag_type }}</td>
                <td>{{ "Y" if channel_tag.in_config else "N" }}</td>
                <td>{{ channel_tag.message_count }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Messages:</h2>
    <div id="messages">
        {% for message in message_list %}
        <table>
            <tr>
                <td colspan="2">
                    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="{{ handle }}/{{ message['msg_id'] }}" data-width="100%"></script>
                </td>
            </tr>
            {% for tag_name, tag_values in channel_tag_data.table_dict_for_msg(message).items() %}
                <tr>
                <td class="{{ "tag_in_config" if tag_name in channel_tag_data.tag_names_in_config() else "" }}">{{ tag_name }}</td>
                <td>{{ tag_values|join(", ") }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
</body>
</html>